@model MVCStok.Models.Entity.TBL_musteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label> Müşteri Adı</label>
        @Html.TextBoxFor(m=>m.mmusteriad,new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.mmusteriad," ",new { @style = "color:green" })
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" name="musterisoyad" class="form-control" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>

</form>
