@model MVCStok.Models.Entity.TBL_kategoriler
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle","Kategori",FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m=>m.kategoriid)
                    @Html.TextBoxFor(m=>m.kategoriid,new {@class="form-control"})
                    <br />
                    @Html.LabelFor(m=>m.kategoriad)
                    @Html.TextBoxFor(m=>m.kategoriad,new { @class = "form-control" })
                </div>

                <div>
                    <button class="btn btn-warning">Kategori Güncelle</button>
                </div>
            }

