@model MVCStok.Models.Entity.TBL_urunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label> Ürün Adı</label>
        <input type="text" class="form-control" name="urunad"  required=""maxlength="15"/>
    </div>
    <div>
        <label>Kategori Seçiniz</label>
       @Html.DropDownListFor(m=>m.TBL_kategoriler.kategoriid, (List<SelectListItem>)ViewBag.dgr, new
  { @class = "form-control"
  })
    <div>
        <label>Ürün Marka</label>
        <input type="text" name="marka" class="form-control" />
    </div>
    </div>
    <div>
        <label>Ürün Fiyat</label>
        <input type="text" name="fiyat" class="form-control" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>

</form>
