
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>
<div class="modal" id="Modal1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form action="/" method="post">
                <div class="modal-body">
                    <label>
                     Ürün Adı
                    </label>
                    <input type="text" name="Urun" class="form-control" />
                    <br />
                    <label> Ürün Markası</label>
                    <input type="text" name="Marka" class="form-control" />
                    <br />
                    <label> Müşteri Adı </label>
                    <input type="text" name="Müsteri" class="form-control" /> <br />
                    <label> Müşteri Soyadı</label>
                    <input type="text" name="Soyad" class="form-control" />
                    <br />
                    <button class="btn btn-info"> Verileri Kaydet</button>
                </div>

            </form>
        </div>
    </div>
</div>